* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: MuseoSansCyrl;
    scroll-behavior: smooth;
}
:root {
    -- index: calc(1vw+1vh)
    -- color header2: #ffffff;
}
@font-face {
    font-family: 'MuseoSansCyrl';
    src: url(../fonts/MuseoSansCyrl.otf)
}
.body2 {
    color: #ffffff;
}
.logo2{
    width: 96px;
    height: 47px;
    position: absolute;
    left: 40px;
    top: 20px;
}
.header2 {
    width: 100%;
    height: 87px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(241,238,243, 0.8);
    align-items: center;

}
.signout2{
    width: 173px;
    height: 40px;
    text-align: center;
    background-color: #ffffff;
    border: 0.8px solid #7953c3;
    color: #7953c3;
    position: absolute;
    right: 40px;
    top: 20px;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
}
.main2{
    width: 1040px;
    height: 814px;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 250px;
}
.to_main2{
    width: 108px;
    height: 36px;
    text-align: center;
    background-color: #ffffff;
    border: 0.8px solid #7953c3;
    color: #7953c3;
    border-radius: 8px;
}
.create_profile_text52{
    width: 1040px;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    margin-bottom: 18px;
    text-align: center;
}
.create_profile_text22{
    width: 76px;
    height: 26px;
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    gap: 16px;
    margin-top: 14px;
}

.create_profile_main2{
    width: 1040px;
    height: 576px;
    padding-top: 40px;
    display: flex;
    gap: 60px;
    flex-direction: column;
}
.anketa{
    width: 366px;
    height: 536px;
}
.preview2{
    width: 614px;
    height: 378px;
    position: absolute;
    margin-top: 40px;
    margin-left: 425px;
    margin-bottom: 590px;
}
input[type="radio"] {
	appearance: none;
	-webkit-appearance: none;
	width: 16px;
	height: 16px;
	border: 2px solid #7953C3;
	border-radius: 50%;
	margin-right: 10px;
	background-color: #FFFFFF;
	position: relative;
	top: 6px;
}
input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 9px;
	height: 9px;
	background-color: #7953C3;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear 1s;
}
@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: #fff;
	}
	45% {
		transform: translate(-50%, -50%) scale(1.6);
		background-color: #967fc6;
	}
	50% {
		transform: translate(-50%, -50%) scale(1.7);
		background-color: #8666c7;
	}
	55% {
		transform: translate(-50%, -50%) scale(1.6);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: #7953C3;
	}
}
.meter2{
    width: 1040px;
    height: 2px;
    color: #7953c3;
    margin-bottom: 64px;
  }
  meter::-webkit-meter-bar {
    background-color: #F4F4F6;
    border: 0;
  }
  meter::-webkit-meter-optimum-value {
    background-color: #CDBDDB;
  }
.radioknopki {
    height: 24px;
    margin-left: 18px;
    margin-top: 28px;
    display: flex;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
}
.student{
    color: #040013;
    margin-top: 4px;
}
.sotrudnik{
    color: #040013;
    margin-top: 4px;
}